In [ ]:
!pip install Cython
!pip install https://github.com/Santosh-Gupta/scikit-learn/archive/master.zip

In [48]:
import pandas as pd
import numpy as np
import tensorflow as tf

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

In [51]:
dataset = pd.read_csv('Churn_Modelling.csv')
x = dataset.iloc[:, 3:-1]
y = dataset.iloc[:, -1]
x

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [52]:
# Encoding "Gender"
le = LabelEncoder()
x.iloc[:, 2] = le.fit_transform(x.iloc[:, 2])
x

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France       0  ...          1               1        101348.88
1             608     Spain       0  ...          0               1        112542.58
2             502    France       0  ...          1               0        113931.57
3             699    France       0  ...          0               0         93826.63
4             850     Spain       0  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France       1  ...          1               0         96270.64
9996          516    France       1  ...          1               1        101699.77
9997          709    France       0  ...          0               1         42085.58
9998          772   Germany       1  ...          1               0         92888.52
9999          792    France       0  ...          1               0         38190.78

[10000 rows x 10 columns]

In [53]:
# Enconding "Geography"
x.iloc[:, 1] = le.fit_transform(x[["Geography"]])# As a result, we have: France = 0; Germay = 1; Spain = 2
x

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      CreditScore  Geography  ...  IsActiveMember  EstimatedSalary
0             619          0  ...               1        101348.88
1             608          2  ...               1        112542.58
2             502          0  ...               0        113931.57
3             699          0  ...               0         93826.63
4             850          2  ...               1         79084.10
...           ...        ...  ...             ...              ...
9995          771          0  ...               0         96270.64
9996          516          0  ...               1        101699.77
9997          709          0  ...               1         42085.58
9998          772          1  ...               0         92888.52
9999          792          0  ...               0         38190.78

[10000 rows x 10 columns]

In [23]:
# Define training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [24]:
# Feature scaling
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [25]:
# Create our Aritificial Neural Network (ANN)
ann = tf.keras.models.Sequential()

In [26]:
# Add input layer and first hidden layer to ANN
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

In [27]:
# Add second layer
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

In [28]:
# Add the output layer
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

In [31]:
# Compile ANN
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [32]:
# Train ANN on Training set
ann.fit(x_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.5643 - accuracy: 0.7194
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4591 - accuracy: 0.7977
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4399 - accuracy: 0.8024
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4310 - accuracy: 0.8069
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4244 - accuracy: 0.8117
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4167 - accuracy: 0.8196
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4060 - accuracy: 0.8257
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3938 - accuracy: 0.8379
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3828 - accuracy: 0.8450
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3746 - accuracy: 0.8490
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3694 - accuracy: 0.8504
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3658 - accuracy: 0.8508
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3628 - accuracy: 0.8531
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3609 - accuracy: 0.8541
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3590 - accuracy: 0.8559
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3576 - accuracy: 0.8556
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3567 - accuracy: 0.8559
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8554
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3550 - accuracy: 0.8574
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3543 - accuracy: 0.8575
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3540 - accuracy: 0.8570
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3535 - accuracy: 0.8581
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3534 - accuracy: 0.8571
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3530 - accuracy: 0.8564
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8569
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8565
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8561
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8564
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3516 - accuracy: 0.8558
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3511 - accuracy: 0.8575
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8570
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3508 - accuracy: 0.8571
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3505 - accuracy: 0.8569
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8571
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8576
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8572
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8577
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8568
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8559
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8568
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8566
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8562
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3470 - accuracy: 0.8564
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8562
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3463 - accuracy: 0.8558
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8566
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8572
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8583
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3453 - accuracy: 0.8566
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3450 - accuracy: 0.8570
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8577
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8575
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8571
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8584
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8564
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8594
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8560
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8583
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8583
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8590
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8566
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8580
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8577
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8584
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8584
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8576
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8585
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8599
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8586
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8590
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8580
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8590
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8589
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8586
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8602
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8589
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8600
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8590
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8590
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8594
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8586
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8594
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8596
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8597
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8605
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8599
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8593
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8594
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8595
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8605
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8593
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8599
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8605
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8587
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8612
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8605
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8593
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8600
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8604
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8597

In [35]:
# Predict if the costumer with the following informations will leave the bank:
#    Greography: France
#    Credit Score: 600
#    Gender: Male
#    Age: 40 years old
#    Tenure: 3 years
#    Balance: $ 60000
#    Have a credit card: yes
#    Is it an active member: yes
#    Estimated salary: $ 50000
print(ann.predict(sc.transform([[0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [47]:
# Predict the Test set results
y_pred = ann.predict(x_test)
y_pred = y_pred > 0.5
y_test = np.array(y_test)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [49]:
# Make the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1513   82]
 [ 198  207]]

0.86